[user]
	name = vterdunov
	email = mail2slick@gmail.com
	signingkey = 59546B1D80C17EEA

[push]
	default = simple

[pull]
	ff = only

[core]
	editor = code --wait

[diff]
	tool = meld

[pager]
	branch = false
